body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255,200,101);
    background: linear-gradient(90deg, rgba(255,200,101,1) 0%, rgba(255,135,17,1) 35%, rgba(255,216,0,0.7497198708584997) 100%);
    
}

.nav-mobile{
    position: absolute;
    background: white;
    bottom: 0;
    top: 0;
    width: 240px;
    z-index: 300;
    visibility: hidden;
   
}



.icono-menu{
    color: black;
}

.nav-mobile-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.nav-mobile-link {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.nav-mobile-item{
    display: flex;
    align-items: center;
    padding-left: 29px;
}

.nav-mobile-item ion-icon {
    color:orange
}

.nav-mobile--open{
    visibility: visible;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(255,200,101);
    background: linear-gradient(90deg, rgba(255,200,101,1) 0%, rgba(255,135,17,1) 37%, rgba(255,216,0,0.7497198708584997) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.icono-exit{
    font-size: 30px;
}

.icono-menu{
    font-size: 30px;
}
.flecha-menu{
    font-size: 30px;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px;
}

.container-nav{
    width: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}


.avatares {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.container-header{
    display: flex;
  justify-content: space-between;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-info p {
    margin: 0;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.avatar-info-name{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.avatar-info-points{
    font-size: 25px;
    color: white;
    font-weight: bold;

}




.answers{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;

}


.progreso {
    font-size: 18px;
    color: white;
}


.pregunta {
    padding: 20px;
    text-align: center;
   
}


.opciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
    
}

.opcion {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}